<div class="background">
  <div class="area">
    <ul class="circles">
      <app-header></app-header>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
    </ul>
  </div>
  <div class="context">
    <h1 class="special-font">Snippets</h1>

    <a routerLink="/search">
      <div class="search-container">
        <app-main-search></app-main-search>
      </div>
    </a>
  </div>

</div>
