<div class="background">
  <app-header></app-header>
  <div class="w-10/12 h-full m-auto">
    <div class="bg-white-palette flex  w-full">
      <div>
        <div class=" p-2">
          <form>
            <input (change)="fileEvent($event)" type="file"/>
            <button (click)="uploadFile($event)">Upload file</button>
          </form>
          <img alt="profile-logo" height="100" src="../../../../assets/images/logo.png" width="100"></div>
      </div>
      <form class="w-full">
        <div class="flex flex-wrap w-full p-10">
          <div class="w-full m-10">
            <label for="name">Name: </label><br/>
            <input class="p-2 w-full" id="name" name="name" placeholder="Name" type="text"/>
          </div>
          <div class="w-full ml-10">
            <label for="description">Description: </label><br/>
            <textarea class="p-2 w-full" id="description" name="description" placeholder="Description"></textarea>
          </div>
          <div class="ml-10">
            <span>Joining date: </span>
            <div class="p-2 w-full">15/15/1515 15:15</div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
