.background {
    background: linear-gradient(-45deg, #2CB67D, #6B71D4, #5688B7, #419F9A);
    background-size: 400% 400%;
    animation: gradient 5s ease infinite;
}

@keyframes gradient {
    0% {
        background-position: 0 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0 50%;
    }
}

.invalid-form {
    background-color: #b3b3b3;
    transition: background-color 1.5s ease;
}

.invalid-form:hover {
    background-color: #838383;
    transition: background-color 1.5s ease;
}

.valid-form {
    background-color: #6366F1;
    transition: background-color 1.5s ease;
}

.valid-form:hover {
    background-color: #4F46E5;
    transition: background-color 1.5s ease;
}

.dialog {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
