<div *ngFor="let snippet of snippets;let f = index" class="p-4 drop-shadow-2xl tree-creation-view">

  <div
    class="rounded-tl-lg rounded-tr-lg scrollbar-thin scrollbar py-2"
    [style.background-color]="'rgb(39 39 39)'"
  >
    <a [routerLink]="['/details-view', snippet.id]" class="hover:text-lilac-light-palette hover:cursor-pointer duration-300">
      <h2
        class="ml-3 my-2 text-2xl font-semibold text-white-slate-palette pl-2 truncate ...">{{snippet.name}}</h2>
      <p class="ml-3 my-2 text-sm text-white-slate-palette pl-2 truncate ...">{{snippet.description}}</p>
    </a>
  </div>

  <!--TABS-->
  <div *ngIf="!mobile"
       class="flex flex-row flex-nowrap scrollbar-thin
              scrollbar overflow-y-scroll"
       [style.background-color]="'rgb(39 39 39)'">
    <div *ngFor="let file of snippet.files; let i = index; let first = first; let last = last">
      <div>
        <div (click)="setSelected(snippet, file)"
             [ngClass]="{
              'text-white border-b-2 tab--active': file.activeTab,
              'first': first,
              'last': last
             }"
             class="tab hover:text-purple-500
                  text-center align-middle border-b-purple-600
                  tracking-wider px-4 py-1 h-10 w-auto cursor-pointer pt-2 font-semibold">
          {{file.name}}
        </div>
      </div>
    </div>
  </div>

  <!--FILES-->
  <div *ngFor="let file of snippet.files; let first = first;let i = index; let last = last">

    <div [ngClass]="{'active': file.activeTab===true || mobile , 'inactive': file.activeTab!=true && !mobile}"
         [style.background-color]="'#2e3440'"
         class="bg-white-palette shadow-md p-3">
      <a [routerLink]="['/details-view', snippet.id]">
        <h2 *ngIf="mobile"
            class="hover:text-lilac-light-palette hover:cursor-pointer duration-300 text-2xl font-bold text-white-slate-palette pl-2 truncate ...">{{snippet.files[i].name}}</h2>
      </a>
      <div class="relative">
        <div (click)="copyText(snippet.files[i].content)" class="cursor-pointer">
          <i aria-hidden="true"
             class="fa fa-clipboard absolute hover:text-gray-100 hover:scale-110 duration-300 text-gray-light-palette right-2 top-3 text-base p-3"></i>
        </div>
        <pre class="overflow-hidden rounded">
          <code [highlight]="snippet.files[i].content"
                [style.min-height]="customHeight"
                [style.max-height]="maxHeight ?? 'none'"
                class="scrollbar-thin scrollbar overflow-y-scroll">

          </code>
        </pre>
      </div>
    </div>
  </div>

  <div id="border" class="rounded-b-lg">
    <app-topic-badge [badges]="snippet.topics"></app-topic-badge>

    <div class="flex text-white-slate-palette ml-auto gap-2.5 mr-2 select-none">
      <div (click)="subtractCount(snippet)" class="hover:text-red-500 cursor-pointer"><i
        class="fa fa-arrow-down fa-xs"></i></div>
      <div>{{snippet.upvotes + snippet.downvotes}}</div>
      <div (click)="addCount(snippet)" class="hover:text-green-500 cursor-pointer"><i
        class="fa fa-arrow-up fa-xs mr-2"></i></div>
    </div>
  </div>

</div>
