
/* Side bar styling */
.sidebar{
  position:absolute;
  top:0;
  right:0;
}
/* Old styling

section {
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    width: 100%;
}

.badge {
    margin: 0px;
    margin-left: 5px;
    padding: 2px;
    border-radius: 25px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: .9s;
}

.fab {
    padding: 3px 10px;
    font-size: 23px;
    border-radius: 25px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgb(0 0 0 / 10%), 0 8px 16px rgb(0 0 0 / 10%);
}

.badge:hover {
    box-shadow: 0 0 11px rgba(33, 33, 33, .2);
    transform: translate(0px, -4px);
}

.fa-html5 {
    color: #f0932b;
}

.fa-css3-alt {
    color: #3742fa;
}

.fa-js-square {
    color: #f9ca24;
}

.fa-bootstrap {
    color: #686de0;
}

.fa-sass {
    color: #c56cf0;
}

.fa-npm {
    color: #eb2f06;
}

.fa-node {
    color: #10ac84;
}

.fa-php {
    color: #2e86de;
}

.fa-python {
    color: #feca57;
}

.fa-laravel {
    color: #ff6b6b;
}

.html {
    background-color: #f0932b;
}

.css {
    background-color: #3742fa;
}

.js {
    background-color: #f9ca24;
}

.bootstrap {
    background-color: #686de0;
}

.sass {
    background-color: #c56cf0;
}

.npm {
    background-color: #eb2f06;
}

.node {
    background-color: #10ac84;
}

.php {
    background-color: #2e86de;
}

.python {
    background-color: #feca57;
}

.laravel {
    background-color: #ff6b6b;
}
*/

